.git
.env
.env.*
!.env.example
node_modules
.phpunit.result.cache
public/hot
public/storage
public/reclamos_comentarios_fotos
public/reclamos_fotos
storage/app/**
!storage/app/.gitignore
storage/logs/**
!storage/logs/.gitignore
storage/framework/cache/**
!storage/framework/cache/.gitignore
storage/framework/sessions/**
!storage/framework/sessions/.gitignore
storage/framework/views/**
!storage/framework/views/.gitignore
bootstrap/cache/**
!bootstrap/cache/.gitignore
database/*.sqlite
database/*.sqlite-*
