vendor/
node_modules/
.env
storage/framework/views/
/public/hot
/storage/logs/laravel.log
/storage/app/public/uploads
/public/storage/uploads
/public/build
public/reclamos_comentarios_fotos/
public/reclamos_fotos/
.phpunit.result.cache


