body { padding: 5em; }

.TruckLoader {
  
    position: absolute;
    bottom: 5px;
    width: 100px; 
    height: 40px;
    background: linear-gradient(to bottom, #00a7ac, #00858e);
    animation: put-put 2s infinite, move-truck 8s infinite linear;
    background-size: 100% auto;
    border-radius: 4px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); 
    -webkit-box-reflect: below 15px linear-gradient(transparent, rgba(255, 255, 255, 0.1)); /* Aplica el reflejo a todo el camión */
    
}

.TruckLoader-logo {
  position: absolute;
  top: 0; /* Alinea el logo con la parte superior del camión */
  left: 0; /* Alinea el logo con el lado izquierdo del camión */
  width: 100%; /* Hacer que el logo ocupe todo el ancho de la parte trasera */
  height: 100%; /* Hacer que el logo ocupe toda la altura de la parte trasera */
  /* background: url('/rr..hh DESARROLLO/public/images/logo2.png') no-repeat center center; */
  background-size: 80% 80%; /* Ajusta el tamaño del logo para que ocupe la mayor parte de la parte trasera */
}



@keyframes move-truck {
    0% { left: 100%; opacity: 1; }
    100% { left: -100px; opacity: 1; }
}

.TruckLoader:before, 
.TruckLoader:after {
  content: '';
  display: block;
  border-radius: 50%;
  width: 12px; 
  height: 12px;
  border: 2px solid #fff;
  background: #333;
  position: absolute;
  bottom: -8px; 
}

.TruckLoader:before {
  left: 6px;
}

.TruckLoader:after {
  right: 6px;
}

.TruckLoader-cab {
  position: absolute;
  left: -25px; 
  bottom: 0;
  width: 25px; 
  height: 20px; 
  background: #333;
  border-radius: 40% 0 4px 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.TruckLoader-cab:before, 
.TruckLoader-cab:after {
  position: absolute;
  content: '';
  display: block;
  background: #333;
}

.TruckLoader-cab:before {
  width: 15px; 
  height: 10px; 
  top: -10px;
  right: 0;
  border-radius: 100% 0 0 0;
}

.TruckLoader-cab:after {
  border-radius: 50%;
  width: 12px; 
  height: 12px;
  background: #444;
  left: 5px;
  border: 2px solid #fff;
  position: absolute;
  bottom: -8px; 
}

.TruckLoader-smoke, 
.TruckLoader-smoke:after, 
.TruckLoader-smoke:before {
  position: absolute;
  content: '';
  display: block;
  width: 8px; 
  height: 8px;
  right: -1px;
  bottom: -4px; 
  border-radius: 50%;
  background: #444; /* Color gris oscuro para el humo */
}

.TruckLoader-smoke {
  animation: smoke-1 2s infinite;
}

.TruckLoader-smoke:after {
  animation: smoke-2 3s infinite;
}

.TruckLoader-smoke:before {
  animation: smoke-3 4s infinite;
}

@-webkit-keyframes put-put {
  0% { margin-top: 0px; height: 50px; }
  5% { margin-top: -2px; height: 52px; }
  20% { margin-top: -1px; height: 50px; }
  35% { margin-top: 1px; height: 49px; }
  40% { margin-top: -1px; height: 51px; }
  60% { margin-top: 1px; height: 49px; }
  75% { margin-top: 0px; height: 50px; }
  80% { margin-top: -4px; height: 52px; }
  100% { margin-top: 1px; height: 49px; }
}

@-webkit-keyframes smoke-1 {
  0% { opacity: 0; }  
  15% { opacity: 0.9; }
  100% { right: -30px; bottom: 5px; width: 30px; height: 30px; opacity: 0; }
}

@-webkit-keyframes smoke-2 {
  0% { opacity: 0; }  
  15% { opacity: 0.9; }  
  100% { right: -60px; bottom: 8px; width: 25px; height: 25px; opacity: 0; }
}

@-webkit-keyframes smoke-3 {
  0% { opacity: 0; }  
  15% { opacity: 0.9; } 
  100% { right: -40px; bottom: 2px; width: 35px; height: 35px; opacity: 0; }
}

@-webkit-keyframes move-truck {
  0% { margin-left: 90%; opacity: 0; }
  10% { opacity: 1; }
  50% { margin-left: 45%; }
  90% { opacity: 1; }
  100% { margin-left: 0; opacity: 0; }
}
